# The ignore file type list :

*.o
*.out
*.hex
*.obj
*.exe
*.ilk
*.dep
*.htm
*.manifest
*.pdb
*.idb
*.mtud
*.ncb
*.suo
FW_Simulation_Testing/Debug/
FW_Simulation_Testing/Release/
FW_Simulation_Testing/Fw_Simulation_Testing.layout
DefaultBuild/
