# The ignore file type list :

*.o
*.out
*.hex
*.obj
*.exe
*.ilk
*.dep
*.htm
*.manifest
*.pdb
*.idb
*.mtud
*.ncb
*.suo
*.user
*.layout
FW_Simulation_Testing/UpgradeLog.XML
FW_Simulation_Testing/FW_Simulation_Testing.vcxproj.filters
FW_Simulation_Testing/FW_Simulation_Testing.sdf
FW_Simulation_Testing/Debug/
FW_Simulation_Testing/Release/
FW_Simulation_Testing/Fw_Simulation_Testing.layout
FW_Simulation_Testing/FW_Simulation_Testing
FW_Simulation_Testing/_UpgradeReport_Files/
FW_Simulation_Testing/ipch/
DefaultBuild/
